.section{
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family:  Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.title{
    font-family:  Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
}
.section p{
    margin: 0px 0;
    text-align: left; 
    font-size: 20px;
    min-width: 100%;
}
#about-section {
    margin: 70px;
    /* padding: 2%; */
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    color: #1c1c1c;
}
.team-members{
    /* gap: 70px; */
    margin: 70px;
    padding: 80px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
    background-color: #8ccbff;
}
.member {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0px 40px;
    border-radius: 15px;
    transition: 0.3s;
    max-width: min-content;
    max-height: min-content;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.member:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
    scale: 99%;
}
.member h3{
    width: 180px;
    text-align: center;
    /* padding: 5px 5px; */
    margin: 0;
    font-size: 25px;
}
#Umayr{
    /* background-color: rgb(255, 197, 81); */
}
#new-member{
    background-color: rgb(255, 187, 0);
    color: #1c1c1c;
}
.member h4{
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.member p {
    max-height: min-content;
    max-width: 240px;
    margin: 0;
    padding: 10px;
    font-size: 17px;
}

@media(max-width: 450px) {
    #about-section {
        margin: 20px;
    }
    .team-members {
        margin: 20px;
    }
}