body {
  margin: 0px;
  min-height: 100vh;
}
/* Add a black background color to the top navigation */
.navbar {
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
  overflow: hidden;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: right;
  color: #8ccbff;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  transition: 0.2s;
  font-size: 20px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #8ccbff;
  color: #1c1c1c;
  transition: 0.2s;
}

.navbar a:active {
  background-color: #37a5ff;
  transition: 0.1s;
}

.navbar a.split {
  box-sizing: border-box;
  max-width: 65px;
  max-height: 65px;
  padding: 3px;
  float: left;
}
.navbar a.split:hover {
  scale: 90%;
  background-color: #1c1c1c;
}
.toggle-button {
  position: absolute;
  display: none;
  align-self: flex-end;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
}

.toggle-button .bar {
  border-radius: 6px;
  height: 20%;
  width: 100%;
  background-color: #8ccbff;
  transition: 5s;
}
.toggle-button .bar:hover{
  transition: 0.1s;
  background-color: #1c1c1c;
}

@media (max-width: 550px) {
  .toggle-button{
    display: flex;
  }
  .navbar .links {
    display: none;
    flex-direction: column-reverse;
    min-width: 100%;
  }
  .navbar {
    min-height: 65px;
    height: fit-content ;
    flex-direction: column;
    align-items: center;
  }
  .navbar a.split {
    align-self: flex-start;
  }
  .links.active {
    transition: 0.2s;
    display: flex;
  }
}

.footer {
  background-color: #1c1c1c;
  padding: 30px 70px 30px 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 300px;
}
.footerlogo {
  /* max-width: 30%; */
  position: absolute;
}

.footer>.details {
  /* max-width: 30%; */
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footermenu {
  /* max-width: 30%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  gap: 10px;
}

.footermenu>a {
  padding: 10px 0px;
  text-decoration: none;
  text-align: justify;
  color: #8ccbff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}
.footermenu>a:hover{
  transition: 0.2s;
  color: #37a5ff;
}

footer {
  background-color: #1c1c1c;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
  color: white;
}