.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #ffda75; */
    min-height: min-content;
    gap: 100px;
    padding: 50px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%; */
}
.lefthero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 40px; */
    text-align: center;
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px 20px;
    max-width: 35%;
}
.righthero {
    /* padding: 40px; */
    font-family:  Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 25px;
    margin: 0px 20px;
    max-width: 35%;
}
h3{
    font-style: normal;
    font-weight: 549;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.featured{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('Images/Abstract/layered-waves-bottom.svg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.featured-heading{
    color: auto;
    margin: 25px;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    padding: 21.1px 0px;
}
.projects {
    transition: 2s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: white; */
    padding: 0px 10% 100px 10%;
    gap: 80px;
}
.presentclubs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0px 50px 0px 60px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.6);
    background-color: white;
    border-radius: 15px;
    transition: 0.3s;
}
.presentclubs:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.7);
    scale: 99%;
}
.presentclubs > img {
    border-radius: 15px;
}
.presentclubs > p {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}
.presentclubs > a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1c1c1c;
    color: #ffda75;
    border: none;
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    transition: 0.2s;
}
.presentclubs > a:hover {
    color: #1c1c1c;
    background-color: #ffda75;
    transition: 0.2s;
}
.presentclubs >a:active {
    transition: 0.1s;
    color: #ffbb00;
    background-color: #1c1c1c;
}

@media(max-width: 1100px) {

    .hero{
        flex-direction: column;
        padding: 20px 5%;
        justify-content: center;
        row-gap: 0;
    }
    .lefthero {
        font-size: 70px;
        max-width: 100%;
        padding-top: 20px;
    }
    .righthero {
        max-width: 100%;
    }
    .featured{
        padding: 0px 0px 50px 0px;
    }
    .featured-heading {
        padding: 0px;
    }
}
@media(max-width: 450px) {
    .lefthero {
        font-size: 30px;
        margin: 0;
    }
    .righthero {
        min-width: 80%;
        font-size: medium;
    }
}